<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit campground</title>
</head>
<body>
    <h1>Edit campground</h1>
    <form action="/campgrounds/<%= cg._id %>?_method=PUT" method="post">
        <input type="text" name="campground[title]" value="<%=cg.title%>" placeholder="Title">
        <input type="text" name="campground[location]" value="<%=cg.location%>" placeholder="Location">
        <button>Edit campground</button>
    </form>
</body>
</html>