<% layout('layouts/boilerplate.ejs') %>


    <h1>Edit campground</h1>
    <form action="/campgrounds/<%= cg._id %>?_method=PUT" method="post">
        <input type="text" name="campground[title]" value="<%=cg.title%>" placeholder="Title">
        <input type="text" name="campground[location]" value="<%=cg.location%>" placeholder="Location">
        <button>Edit campground</button>
    </form>