<% layout('layouts/boilerplate.ejs') %>


    <h1>Add a new Campground</h1>
    <form action="/campgrounds" method="post">
        <input type="text" name="campground[title]" id="title" placeholder="Title">
        <input type="text" name="campground[location]" id="location" placeholder="Location">
        <button>Submit</button>
    </form>
