<% layout('layouts/boilerplate.ejs') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location">
                </div>
                <div class="mb-3">
                    <label for="img-url" class="form-label">Image URL</label>
                    <input class="form-control" type="text" name="campground[image]" id="img-url">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" type="text" name="campground[image]" id="price" placeholder="0">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>