<% layout('layouts/boilerplate.ejs') %>
    <h1>YelpCamp Campgrounds</h1>
    <p>
        <a href="/campgrounds/new">Add new campground</a>
    </p>
    <ul>
        <% for(let camp of camps) { %>
            <li>
                <a href="/campgrounds/<%=`${camp._id}`%>">
                    <%= `${camp.title} - ${camp.location}` %>
                </a>
            </li>
        <% } %>
    </ul>